{% extends 'base.html' %}

{% block title %}
    Demonstration form
{% endblock %}

{% block content %}
    <form method="post">
        <div class="mb-3">
            <label for="numAdults" class="form-label">Number of adults</label>
            <input type="text" class="form-control" name="numAdults" autofocus></input>
        </div>
        <div class="mb-3">
            <label for="numChildren" class="form-label">Number of children</label>
            <input type="text" class="form-control" name="numChildren"></input>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
